
.format{
  color:rgb(186, 186, 37);
}
.grad{
  color: rgb(229, 107, 0);
}
.card-footer{
  background-color: orangered !important;
}
a{
  text-decoration: none !important;

}
a:hover{
  color: rgb(163, 195, 22) !important;
}
